<div class="cart-items">
  <div *ngFor="let item of itens; let i = index" class="cart-item">
    <div>
      <h2 class="item-name">{{ item.nome }}</h2>
      <p class="item-price">Preço: {{ item.preco | currency:'BRL' }}</p>
    </div>
    <button mat-icon-button (click)="removerItem(i)" class="remove-item-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="total-container">
    <h3>Total do Pedido: {{ totalPedido | currency:'BRL' }}</h3>
  </div>
</div>

<!-- Botões de Ações -->
<div class="button-container">
  <div class="back-button">
    <button mat-button (click)="continuarComprando()" class="back-button-style">
      <mat-icon>arrow_back</mat-icon>
      Continuar comprando
    </button>
  </div>

  <div class="checkout-button">
    <button mat-button (click)="pagamento()" class="checkout-button-style">
      <mat-icon>shopping_cart</mat-icon>
      Ir para Pagamento
    </button>
  </div>

  <div class="clear-cart-button">
    <button mat-button (click)="limparCarrinho()" class="clear-cart-button-style">
      <mat-icon>delete_sweep</mat-icon>
      Limpar Carrinho
    </button>
  </div>
</div>
