<div class="produto-detalhe-container">

  <!-- Imagem e Detalhes do Produto -->
  <div class="produto-detalhe-card">
    <img [src]="produto.imagem" alt="{{ produto.nome }}" class="produto-imagem-detalhe">
    <h2>{{ produto.nome }}</h2>
    <p>Preço: {{ produto.preco | currency:'BRL' }}</p>
    <p>{{ produto.descricao }}</p>
    <button (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</button>
  </div>

  <!-- História do Café -->
  <div class="produto-historia">
    <h3>História do {{ produto.nome }}</h3>
    <p>{{ produto.historia }}</p>

    <!-- Botão de Voltar ao Catálogo -->
    <div class="back-button">
      <button mat-button routerLink="/" class="back-button-style">
        <mat-icon>arrow_back</mat-icon>
        Voltar ao Catálogo
      </button>
    </div>
  </div>
</div>
