.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #6f4e37;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  padding: 0 20px;
  height: auto;
}

.logo-icon {
  height: 40px;
  margin-right: 10px;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.0em;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
}

.spacer {
  flex: 1 1 auto;
  height: 70px;
}

.nav-link {
  font-weight: 500;
  color: #ffffff;
  margin: 0 10px;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}


