<div class="checkout-container">
  <!-- Resumo do Pedido -->
  <div class="order-summary">
    <h2>Resumo do Pedido</h2>
    <div *ngFor="let item of itens" class="checkout-item">
      <p>{{ item.nome }} - {{ item.preco | currency:'BRL' }}</p>
    </div>
    <div class="total-summary">
      <h3>Total: {{ totalPedido | currency:'BRL' }}</h3>
    </div>
  </div>

  <!-- Informações de Pagamento -->
  <div class="payment-info">
    <h2>Informações de Pagamento</h2>
    <form>
      <label for="payment-method">Forma de Pagamento:</label>
      <select id="payment-method" [(ngModel)]="formaPagamento" name="formaPagamento">
        <option value="cartao">Cartão de Crédito</option>
        <option value="boleto">Boleto Bancário</option>
        <option value="pix">PIX</option>
      </select>

      <div *ngIf="formaPagamento === 'cartao'" class="card-details">
        <label for="card-number">Número do Cartão:</label>
        <input type="text" id="card-number" [(ngModel)]="numeroCartao" name="numeroCartao" required />

        <label for="card-expiration">Validade:</label>
        <input type="text" id="card-expiration" [(ngModel)]="validadeCartao" name="validadeCartao" placeholder="MM/AA" required />

        <label for="card-cvv">CVV:</label>
        <input type="text" id="card-cvv" [(ngModel)]="cvvCartao" name="cvvCartao" required />
      </div>
    </form>
  </div>

  <!-- Botão de Confirmação -->
  <div class="confirm-button">
    <button (click)="confirmarPagamento()" class="confirm-button-style">Confirmar Pagamento e Finalizar Pedido</button>
  </div>
</div>
