footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-toolbar {
  background-color: #d2b48c; /* Marrom claro estilo café */
  color: #333333; /* Cinza escuro para contraste */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-links a {
  color: #333333;
  text-decoration: none;
  margin-left: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-toolbar span {
  font-size: 0.9em;
}
